/************ General Use ************/
body{overflow-x: hidden;}
.full-page-bg {background: url(../img/full-page.png); background-repeat: no-repeat; background-position: bottom; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.sound-btn{position: fixed;z-index: 20;cursor: pointer;text-align: center;right: 1.2rem;bottom: 2rem;}
.sound-btn img{width: 100px;height: 100px;}
.sound-btn button{background: transparent;border:none;}
.sound-btn button:focus{outline: none;}
.otter-music{animation: wooble 2s ease 0s infinite normal forwards;}
.wallet-box{width: 215px;white-space: nowrap;}
.wallet-box i{font-size: 12px;position: absolute;top: 1rem;left: .7rem;}
.show-mobile{display: none;}
@keyframes wooble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-5px) rotate(-6deg);
	}

	30% {
		transform: translateX(5px) rotate(6deg);
	}

	45% {
		transform: translateX(-5px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(3px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-1px) rotate(-1.2deg);
	}
}

/****************** Loading Page *****************/
.loading-page{background: url(../img/otterwebbackground.png); background-repeat: no-repeat; background-position: center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;height: 100vh;overflow: hidden;position: relative;}
.connect-wallet{width: 235px;font-family: Avenir;color: #ffffff;font-size: 2rem;background-color: transparent;border:4px solid #ffffff;border-radius: 12px;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #ffffff;padding: 10px 0px;position: relative;z-index: 5;}
.connect-wallet:hover{transform: scale(1.1);}
.connect-wallet:focus, .connect-wallet:focus-visible{outline: none;}
.load-otter{width: 150px;}
.loading-page h4{font-size: 4rem;margin-top: 20px; margin-bottom: 30px;}
.load-center{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 5;width: 100%;}
.load-mars{width: 30%;position: absolute;top: 3rem;right: -5rem;z-index: 2;animation: float 3s ease-in-out infinite;}
.load-rocket{width: 17%;position: absolute;left: -1rem;bottom: 1rem;z-index: 2;transform: rotate(15deg);animation: float 3s ease-in-out infinite;}
.loading-page .star{width: 100%;animation: flash 1s alternate infinite;height: 100%;}
.counter h1{font-size: 8rem;}
.counter h2{font-size: 5rem;}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/****************** Hero Banner *****************/
.hero-banner {overflow: hidden;padding-bottom: 100px;}
.navbar{position: absolute;}
.otter-club{text-align: center;}
.otter-club img{width: 25%; margin-top: 50px;position: relative;z-index: 2;}
.star{width: 100%;position: absolute;animation: flash 1s alternate infinite;z-index: 1;}
.hero-banner h1{color: #c6c6c6;font-size: 4.5rem;padding: 20px 0px;}
.hero-banner p{color: #c6c6c6;font-size: 1.5rem;font-style: italic;}
.hero-banner{position: relative;}
.hero-banner .curve-border{border:4px solid #ffffff;border-radius: 35px;padding: 50px 50px;display: inline-block;width: 80%;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #ffffff;}
.hero-banner .icon-part{opacity: .8;position: relative;top: -3rem;z-index: 10;}
.hero-banner .icon-part img{width: 50px;}
@keyframes flash {0% {opacity:0;}100%{opacity:1;}}

/****************** Otter Art *****************/
.otter-art{overflow: hidden; position: relative;padding: 100px 0px;}
.otter-art .gallery-art{width: calc(25% - 30px); margin:15px;}
.otter-art .gallery-art:hover{transform: scale(1.1);transition: all .3s ease;}
.otter-art .gallery-art img{border-radius: 30px; aspect-ratio:1; width: 100%;border:8px solid #ffffff;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #ffffff;}
.otter-art .gallery{display: flex;flex-wrap: wrap;margin: -10px;position: relative; z-index: 2;}
.otter-art p{color: #c6c6c6;font-size: 1.5rem;font-style: italic;padding: 50px 0px;}
.otter-art h2{color: #c6c6c6;font-size: 5rem;padding: 20px 0px;}
.star2{width: 100%;position: absolute;animation: float 3s ease-in-out infinite;}

/****************** Otter To Do *****************/
.to-do{overflow: hidden; position: relative;padding: 100px 0px;}
.to-do h2{color: #ffffff;font-size: 5rem;padding: 20px 0px;}
.to-do p{color: #ffffff;font-size: 1.5rem;font-style: italic;padding: 10px 0px;}
.to-do img{width: 50px;}
.to-do .col-5{padding-top: 3px;}
.to-do .col-5{flex: 0 0 35%;max-width: 35%;}
.to-do .col-7{flex: 0 0 65%;max-width: 65%;}

/****************** Otter Mint *****************/
.otter-mint{padding: 100px 0px;overflow: hidden;}
.otter-mint img{max-width: 100%;}
.otter-mint h2{color: #ffffff;font-size: 2.5rem;}
.otter-mint p{color: #ffffff;font-size: 1.5rem;font-style: italic;}
.connect-metamask{font-family: Avenir;color: #ffffff;font-size: 1.5rem;background-color: transparent;border:4px solid #ffffff;border-radius: 12px;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #ffffff;padding: 8px 20px;}
.connect-metamask:hover{transform: scale(1.1);}
.connect-metamask:focus, .connect-metamask:focus-visible{outline: none;}
.mars{animation: float 5s ease-in-out infinite;}
/****************** Our Story *****************/
.our-story{overflow: hidden;padding: 80px 80px;}
.our-story h2{color: #3d4a80;font-size: 5rem;}
.our-story .curve-border{border:4px solid #3d4a80;border-radius: 35px;padding: 50px 50px;display: inline-block;width: 80%;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #3d4a80;}
.our-story p{color: #3d4a80;font-size: 1.5rem;font-style: italic;}
.vertical-timeline--animate .vertical-timeline-element-content.bounce-in{border:3px solid #ffffff;border-radius: 12px;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #ffffff;background: transparent;}
.vertical-timeline-element-content p{margin: 0;}
.our-story h3{color: #3d4a80;}
.vertical-timeline-element-content .vertical-timeline-element-date{display: none;}
.vertical-timeline img{width: 200px;}
.otter-both{position: absolute;top: -9.1rem;width: 250px!important;}
.otter-female{position: absolute;top: -14.05rem;}
.otter-planet{position: absolute;top: -14.05rem;}
.otter-marss{width: 100px!important;position: relative;left: 20rem;}
.Otter-Roc{width: 100px!important;position: absolute;transform: rotate(20deg);top: -4rem;left: -4rem;}
.vertical-timeline--two-columns .vertical-timeline-element-icon{width: 35px;height: 35px;left: 51.15%;}
.vertical-timeline--animate .vertical-timeline-element-content.bounce-in{background: #ffffff;}
.minting-section h3 span{font-size: 4rem;background: -webkit-linear-gradient(#ffffff, #ffee71);background-clip: text;-webkit-text-fill-color: transparent;}
.minting-section h3{color: #ffffff;}
.minting-section h5{font-size: 1.5rem; background: -webkit-linear-gradient(#ffffff, #ffee71);background-clip: text;-webkit-text-fill-color: transparent;}
.minting-section .referral-add{border-radius: 8px;padding: 15px;font-size: 1.2rem;}
.minting-section .mint-quantity{font-size: 1.5rem;border-radius: 12px;text-align: center;padding: 10px 10px 10px 10px;position: relative;top: 3px;background-color: transparent;border: 4px solid #ffffff;color: #ffffff;box-shadow: 0px 0px 15px 0px #ffffff;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otter-mint p.feedback-text{font-size: 1.2rem;}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
  
/*************** FAQ ***********************/
.faq{padding: 100px 0px;overflow: hidden;}
.faq h2{color: #4261a6;font-size: 5rem;}
.faq-list {list-style: none;padding: 0;border:5px solid #4261a6;border-radius: 12px;padding: 0px 30px 30px 30px;transition: all .3s ease;box-shadow: 0px 0px 15px 0px #4261a6;}
.faqs {border-bottom: 2px solid #4261a6;padding: 20px 20px 0px 20px;text-align: left;position: relative;z-index: 1;}
.faq-heading {position: relative;cursor: pointer;color: #4261a6;font-size: 2rem;transition: all 0.5s ease-out;}
.faq-text {opacity: 0; max-height: 0;overflow-y: hidden;transition: all 0.5s ease;}
.read {color: #4261a6;font-size: 1.5rem;font-family: Avenir;}
.faqs.open .faq-text{opacity: 1;max-height: 1000px;}

/*************** Waku Island ***********************/
/*.waku-island{background-image: url(../img/wakuwaku_island.png);background-position: center;background-repeat: no-repeat;background-size: 100% 100%;height: 140vh;}*/
.waku-island .wakuwaku-island{width: 100%;height: 100%;display: block;}


/*************** 768 - 1024 ***********************/
  @media (max-width: 1024px) {
  	.otter-club{position: unset;transform: unset;}
  	.hero-banner h1{font-size: 3rem;}
  	.hero-banner p{font-size: 1.3rem;}
  	.hero-banner .curve-border{padding: 30px 30px;}
  	.otter-art h2{font-size: 3rem;}
  	.otter-art p{font-size: 1.1rem;}
	.to-do h2{font-size: 3rem;}
	.to-do p{font-size: 1.1rem;}
  	.otter-mint h2{font-size: 1.8rem;}
  	.otter-mint p{font-size: 1rem;}
  	.connect-metamask{font-size: 1.1rem;}
  	.connect-wallet{font-size: 1.1rem;}
  	.our-story h2{font-size: 3rem;}
  	.our-story p{font-size: 1.1rem;padding: 15px;}
  	.faq h2{font-size: 3rem;}
  	.faq-heading{font-size: 1.5rem;}
  	.read{font-size: 1.1rem;}
  	.our-story{padding: 100px 30px;}
  	.hero-banner{height: unset;padding-bottom: 50px;}
	.wallet-box{width: 140px;}
	.connect-wallet{width: 150px;}
	.minting-section .mint-quantity{padding: 10px;}
	.wallet-box i{top: .7rem;}
	.wallet-box{width: 160px;}
	.connect-wallet{width: 165px;}
	.hero-banner .icon-part img{width: 40px;}
	.load-mars{width: 30%;}
	.load-rocket{width: 20%;}
	.load-otter{width: 120px;}
	.loading-page h4{font-size: 3rem;}
	.connect-wallet{width: 200px;font-size: 1.5rem;padding: 10px 0px;}
	.counter h1{font-size: 6rem;}
	.counter h2{font-size: 4rem;}
	.to-do .col-5{flex: 0 0 37.5%;max-width: 37.5%;}
	.to-do .col-7{flex: 0 0 62.5%;max-width: 62.5%;}
  }


/*************** 375 - 767 ***********************/
  @media (max-width: 767px) {
  	.hero-banner h1, .otter-art h2, .our-story h2, .faq h2{font-size: 2rem;}
  	.hero-banner p{font-size: 1.1rem;}
  	.hero-banner .curve-border{width: 100%;padding: 20px 20px;}
  	.otter-club img{width: 40%;}
  	.otter-art .gallery-art{width: calc(33.333333% - 30px);}
  	.otter-art .gallery-art img{border: 5px solid #ffffff;}
  	.otter-art p{font-size: 1rem;}
  	.otter-art{padding: 100px 0px 50px 0px;}
	.to-do{padding: 100px 0px 50px 0px;}
	.to-do h2{font-size: 2rem;}
	.to-do p{font-size: 1rem;}
  	.otter-mint{padding: 50px 0px;text-align: center;}
  	.otter-mint img{max-width: 80%;margin-bottom: 1rem;}
  	.otter-mint h2{font-size: 1.5rem;}
  	.our-story p{font-size: 1rem;}
  	.our-story{padding: 50px 20px;}
  	.faq-heading{font-size: 1.1rem;}
  	.read{font-size: 1rem;}
  	.faq-list{padding: 0px 15px 15px 15px;}
	.sound-btn img{width: 60px;height: 60px;}
	.vertical-timeline img{display: none;}
  .our-story h2{color: #ffffff;}
  .our-story h3{color: #13172a;}
  .our-story p{color: #13172a;}
  .sound-btn{right: 0;bottom:1rem;}
  .vertical-timeline--two-columns .vertical-timeline-element-icon{width: 25px!important;height: 25px!important;left: -.6rem!important;}
  .vertical-timeline::before{left: 0;}
  .vertical-timeline-element-content{margin-left: 30px;}
  .minting-section .mint-quantity{padding: 10px;font-size: 1.2rem;}
  .minting-section h3 span{font-size: 2rem;}
  .minting-section h3{font-size: 1.5rem;}
  .minting-section h5{font-size: 1.3rem;}
  .hero-banner .icon-part img{width: 35px;}
  .loading-page h4{font-size: 2rem!important;margin-bottom: 20px;}
  .connect-wallet{padding: 5px 0px;width: 165px;font-size: 1.3rem;}
  .counter h1{font-size: 4rem;}
  .counter h2{font-size: 3rem;}
  .hide-mobile{display: none;}
  .show-mobile{display: block;}
  .to-do .col-5{flex: 0 0 33%;max-width: 33%;padding-top: 0;}
  .to-do .col-7{flex: 0 0 67%;max-width: 67%;}
  }

/*************** 320 - 374 ***********************/
  @media (min-width: 320px) and (max-width: 374px) {
  	.hero-banner h1, .otter-art h2, .our-story h2, .faq h2{font-size: 1.8rem;}
  	.hero-banner p{font-size: 1rem;}
  	.otter-art p{font-size: 0.9rem;}
	.todo p{font-size: .9rem;}
  	.our-story p{font-size: 0.9rem;color: #000000;}
  	.faq-heading{font-size: 1rem;}
  	.read{font-size: 0.9rem;}
	  .our-story h3{font-size:1.3rem;color: #13172a;}
    .our-story h2{color: #ffffff;}
	.minting-section .mint-quantity{padding: 10px;font-size: 1.2rem;}
	.minting-section h3 span{font-size: 2rem;}
	.minting-section h3{font-size: 1.5rem;}
	.minting-section h5{font-size: 1.3rem;}
	.minting-section .referral-add{font-size: 1rem;}
	.load-mars{width: 40%;right: -2rem;}
	.load-rocket{width: 30%;left: 0;}
	.loading-page h4{font-size: 1.7rem!important;}
	.to-do .col-5{flex: 0 0 30%;max-width: 30%;padding-top: 0;}
  	.to-do .col-7{flex: 0 0 70%;max-width: 70%;}
}

/*************** 400 - 450 ***********************/
  @media (min-width: 400px) and (max-width: 450px) {
  	.otter-mint img{width: 75%;}
}

/*************** 451 - 500 ***********************/
  @media (min-width: 451px) and (max-width: 500px) {
  	.otter-mint img{width: 65%;}
}

/*************** 501 - 550 ***********************/
  @media (min-width: 501px) and (max-width: 550px) {
  	.otter-mint img{width: 55%;}
}

/*************** 551 - 600 ***********************/
  @media (min-width: 551px) and (max-width: 600px) {
  	.otter-mint img{width: 50%;}
}

/*************** 601 - 767 ***********************/
  @media (min-width: 601px) and (max-width: 767px) {
  	.otter-mint img{width: 50%;}
  }

/*************** 1025 - 1440 ***********************/
  @media (min-width: 1025px) and (max-width: 1440px) {
  	.otter-club{position: unset;transform: unset;}
  	.hero-banner{height: unset;padding-bottom: 50px;}
    .our-story p{font-size: 1.1rem;}
	.to-do .col-5{flex: 0 0 35%;max-width: 35%;}
  	.to-do .col-7{flex: 0 0 65%;max-width: 65%;}
  }

/*************** 1169 ***********************/
@media (max-width: 1169px) {
	.vertical-timeline img{display: none;}
	.vertical-timeline--two-columns .vertical-timeline-element-icon{width: 40px;height: 40px;left: 0;}
}

@media (min-width: 1170px) and (max-width: 1260px){
	.vertical-timeline--two-columns .vertical-timeline-element-icon{width: 35px;height: 35px;left: 51.5%;}
}

@media (min-width: 1170px) and (max-width: 1350px){
	.otter-both{top: -6.6rem;width: 180px!important;}
	.otter-marss{width: 75px!important;left: 17rem;}
}

/*************** 1025 - 1439 ***********************/
@media (min-width: 1025px) and (max-width: 1439px) {
	.wallet-box i{top: .9rem;}
	.hero-banner .icon-part img{width: 45px;}
}

/*************** 375 - 600 ***********************/
@media (min-width: 375px) and (max-width: 600px) {
	.load-mars{width: 40%;right: -2rem;}
	.load-rocket{width: 30%;left: 0;}
	.loading-page h4{font-size: 1.3rem;}
}
